body {
	background-color: #B2E9FD;
}
.app-title {
	font-family: 'helvetica', Times, serif;
	font-weight: bold;
	font-size: 100px;
	background-color: white;
	color: #dc4247;
	border: black 2px solid;
}
.header {
	color: #50524F;
}
.results {
	margin-top: 20px;
}
.movies-container {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	align-items: stretch;
	align-content: flex-start;
}
.card {
	margin: 5px;
}
.watchList {
	align-content: center;
}
.watchlistTitle {
	align-content: center;
}

